@import 'import/_variables.css';
@import 'import/_tag-navigation.css';
@import 'import/_tags.css';

html,
body {
    margin: 0;
    padding: 0;
    background: var(--colorWhite);
    font-family: sans-serif;
}
