.tags-navigation {
  background: var(--colorDarkGray);
  overflow: hidden;

  & a {
    background: linear-gradient(var(--colorDarkGray), var(--colorGray));
    color: #fff;
    display: block;
    float: left;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 1px #000;
    box-sizing: border-box;
  }
}
