:root {
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorDarkGray: gray(25%);
  --colorGray: gray(35%);
  --colorLightGray: gray(90%);

  --fontHuge: 48px;
  --fontLarge: 24px;
  --fontNormal: 16px;
  --fontSmall: 12px;

  --widthFull: 1280px;
  --widthSmall: 640px;
}

@custom-media --small (width <= 1280px);