<!DOCTYPE html>
<html lang="en">
    {{> head}}
    <body>
        {{> header}}
        {{> tag-navigation }}
        <section class="content">
            <div class="content__wrapper">
                {{{contents}}}
            </div>
            <div class="mage-helper">
                <form action="#" id="mage-helper">
                    <p>
                        In
                        <label class="select-wrapper">
                            <select name="version" data-bind="event:{change:changeVersion}">
                                <option value="1">Magento 1</option>
                                <option value="2" selected="selected">Magento 2</option>
                            </select>
                        </label>
                        , I want to
                        <label class="select-wrapper">
                            <select name="task">
                                <option>-- Please Choose --</option>
                                <!-- ko foreach:articles -->
                                <option data-bind="value:path, text:title"></option>
                                <!-- /ko -->
                            </select>
                        </label>
                    </p>
                </form>
                <div id="mage-answer">
                    <!-- Content will be replaced with JavaScript -->
                </div>
            </div>
            <div class="content__notice">
                <p>
                    Care to contribute?
                    <a target="_blank" href="https://github.com/kanduvisla/test/blob/master/app/{{path}}.md">
                        Fork it, improve it, and send me a pull request.</a>
                    Thanks in advance!
                </p>
            </div>
        </section>
        <section class="content-footer">
            <div id="disqus_thread" data-disqus-key="{{path}}"></div>
            <script>
              /**
               *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
               *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              var disqus_config = function () {
                this.page.url        = 'https://giel.berkers.online/{{path}}/';
                this.page.identifier = '{{path}}';
              };

              (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://giel-berkers-online.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
        </section>
        {{> footer}}

        <script type="text/plain" id="mage-helper-data">{{{json mageArticles }}}</script>
        <script type="text/javascript" src="/js/mage-helper.js"></script>
    </body>
</html>